
extend layout

block style
  title #{title} - My Site
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/structure.css')

block content
    form(class="box login")
     fieldset.boxBody
      label
       | This is Node.js Login Template . If you want to use
       | node.js and MongoDB as
       | Database then This demo project can be used as a starting point for
       | your application.


 


