doctype html

html(lang='en')

  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css",rel="stylesheet",id="bootstrap-css")
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet',href='/stylesheets/login.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //- script(src='https://rawgit.com/jaywcjlove/iNotify/master/src/iNotify.js')
    block source

body
    block script

    block form

    block forget

    


