extend layout-v2

block form
    .container
        .card.card-container
            img(id="profile-img",class="profile-img-card",src="/pictures/avatar_2x.png")
            p(id="profile-name",class="profile-name-card")
            form(class='form-signin',action='/login', method='POST')
                if(error.length>0)
                    .alert.alert-danger.alert-dismissible
                        a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
                        | #{error}
                if(info.length>0)
                    .alert.alert-success.alert-dismissible
                        a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
                        | #{info}  
                span.reauth-email#reauth-email
                input(type="email",id="inputEmail",class="form-control",placeholder="Email address",name='email',required autofocus)
                input(type="password",id="inputPassword",class="form-control",placeholder="Password",name='password',required)
                div.checkbox#remember
                    label
                        input(type="checkbox",value="remember-me") 
                        | Remember me
                button(class="btn btn-lg btn-primary btn-block btn-signin",type="submit") Login in
                a(href='/forget',class="forgot-password",data-toggle="modal") Forgot the password?
                br
                a(href="/signup",class="forgot-password") Do not have a account?

block forget
    .modal.fade#myModal
        .modal-dialog
            .modal-content
                form(action='/forget',method='POST')
                    .modal-header
                        button(type='button',class='close',data-dismiss='modal',aria-hidden='true') &times;
                        h4.modal-title Forgot Password ?
                    .modal-body
                        if(messages.error)
                            .alert.alert-danger.alert-dismissible
                                a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
                                div= messages.error
                        if(messages.success)
                            .alert.alert-success.alert-dismissible
                                a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
                                div= messages.success
                        p Enter your e-mail address below to reset your password.
                        input(type='email',name='email',placeholder='Email',autocomplete='off',class='form-control placeholder-no-fix',required autofocus)
                    .modal-footer
                        button(data-dismiss="modal",class="btn btn-default",type="button") Cancel
                        button(class="btn btn-success",type="submit") Submit
                        
